body {
	background-color: white;
}

div .item {
  resize: both;
  overflow: auto;
}

#viewport {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	box-shadow: inset 0 0 100px gray;
	pointer-events:none;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url("../img/grid.png");
	background-repeat: repeat;
	width: 8000px;
	height: 8000px;
	transform-origin: top left;
}

#controls-container {
	position: fixed;
	height: 100px;
	width: 50%;
	bottom: 25px;
	right: 25%;
	left: 25%;
	border: 1px solid black;
	z-index: 2147483647;
}

.control-item {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: red;
}

.item {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 3px solid black;
	z-index: 1;
	transform: translate(-50%, -50%);
	transform-origin: top left;
	resize: both;
}

.handle {
	width: 100%;
	height: 15px;
	background-color: gray;
	cursor: move;
}

.item-content {
	height: calc(100% - 10px);
	width: 100%;
	background-color: black;
}

#spotify {
	left: 125px;
}

iframe {
	height: calc(100% - 15px);
	width: 100%;
}

#text {
	left: 250px;
}

textarea {
	display: inline;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	resize: none;
}

#image {
	left: 375px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	/*max-width:100%;
	max-height:100%;*/
}

#save {
	position: fixed;
	top: 15px;
	right: 15px;
	height: 50px;
	width: 50px;
	background-color: blue;
	z-index: 2147483647;
}


